/*=============================================================================
	COLORS
=============================================================================*/
$white: #ffffff;
$gray: #a8a8a8;
$orange: #ff7b42;
$lightblue: #b2d5e9;